@import '../../styles/variables';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 130px;
  .loginTitle {
    padding-bottom: 50px;
    color: $color-main;
    font-size: 30px;
    font-weight: 700;
  }
  .loginBox {
    width: 400px;
    height: 60px;
    margin-bottom: 15px;
    padding-left: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;

    &::placeholder {
      color: #dddddd;
    }
  }

  .checkId {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 15px 0px;
    gap: 10px;
    color: #dddddd;
    font-size: 13px;

    .checkBtn {
      width: 23px;
      height: 23px;
    }
    .checkIdSave {
      color: $color-main;
    }
  }

  .btnLogin {
    width: 400px;
    height: 60px;
    margin-top: 15px;
    border: 1px solid $color-main;
    border-radius: 5px;
    border-color: $color-main;
    background-color: $color-main;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }

  .btnSignup {
    width: 400px;
    height: 60px;
    margin-top: 15px;
    border: 1px solid $color-main;
    border-radius: 5px;
    background-color: white;
    color: $color-main;
    font-size: 14px;
  }

  .memberFind {
    margin-top: 20px;
    font-size: 14px;

    .colorWhite {
      color: #dddddd;
    }
    .margin30 {
      margin-right: 30px;
    }
  }
}
