@import '../../styles/variables';

.main {
  @include flexSort(column, null, center);
  color: $color-main;

  .imageWrap {
    width: 100vw;
    overflow: hidden;

    .eventImages {
      @include widthHeightSort(300vw, 318px);
      display: flex;
      transition: transform 1s;

      .imageContainer {
        @include widthHeightSort(100vw, 318px);

        & > img {
          @include widthHeightSort(100vw, 318px);
        }
      }
    }
  }

  .productsList {
    @include flexSort(column, null, null);
    margin-left: 46px;
    gap: 15px;

    .adBanner {
      @include widthHeightSort(1050px, 140px);
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      background-color: rgb(143, 116, 87);

      .bannerComment {
        @include positionSort(50px, null, null, 200px);
        animation: slide 2s ease-in;
        color: beige;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        font-weight: 900;
      }

      .bannerImg {
        @include widthHeightSort(200px, 200px);
        @include positionSort(20px, null, null, 780px);
      }
    }
  }

  @keyframes slide {
    from {
      left: -100px;
      opacity: 0;
    }
    to {
      left: 200px;
      opacity: 1;
    }
  }
}
