@import '../../styles/variables';

.main {
  overflow: hidden;

  .eventImages {
    @include widthHeightSort(300vw, 318px);

    .imageContainer {
      @include widthHeightSort(100vw, 318px);
      float: left;

      & > img {
        @include widthHeightSort(100vw, 318px);
      }
    }
  }

  .productsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 46px;

    .adBanner {
      @include widthHeightSort(1050px, 140px);
      border-radius: 10px;
    }
  }
}
