@import '../../../styles/variables';

.product {
  @include widthHeightSort(328px, null);
  color: $color-main;
  text-decoration: none;

  .productCard {
    position: relative;

    .productImage {
      @include widthHeightSort(328px, 328px);
      position: relative;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .cartIcon {
      @include widthHeightSort(50px, 50px);
      @include flexSort(null, center, center);
      @include positionSort(null, 10px, 10px, null);
      border-radius: 50%;
      opacity: 0.8;
      background-color: gray;
      color: white;
    }
  }

  .productName {
    font-size: 18px;
  }

  .productPrice {
    font-size: 18px;
    font-weight: bolder;
  }

  .productDesc {
    font-size: 15px;
  }
}
