@import '../../../styles/variables';

.products {
  @include widthHeightSort(1082px, 450px);
  margin-left: 30px;

  .productsName {
    font-size: 30px;
    font-weight: bolder;
  }
  .productLists {
    @include widthHeightSort(1050px, 450px);
    @include flexSort(null, center, null);
    gap: 20px;
    overflow: hidden;
  }
}
