@import '../../../styles/variables';

.UserInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;

  .inputTitle {
    color: $color-main;
    font-size: 16px;

    .fontRed {
      color: rgb(153, 15, 15);
    }
  }

  .inputBox {
    width: 350px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid rgba(143, 116, 87, 0.302);
    border-radius: 5px;
  }

  input::placeholder {
    color: rgba(143, 116, 87, 0.302);
  }
}
