@import '../../../styles/variables';

.products {
  @include widthHeightSort(1082px, 450px);
  .productsName {
    font-size: 30px;
    font-weight: bolder;
  }
  .productLists {
    @include widthHeightSort(1050px, 450px);
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
}
