@import '../../../styles/variables';

.product {
  @include widthHeightSort(250px, 250px);

  .productImage {
    @include widthHeightSort(250px, 250px);
    position: relative;
    border-radius: 5px;

    .cartImage {
      @include widthHeightSort(28px, 28px);
      @include flexSort(null, center, center);
      @include positionSort(null, 10px, 10px, null);
      border-radius: 50%;
      opacity: 0.8;
      background-color: gray;
      color: white;
    }
  }

  .productName {
    font-size: 18px;
  }
  .productPrice {
    font-size: 18px;
    font-weight: bolder;
  }
}
