@import '../../../styles/variables';

.product {
  @include widthHeightSort(307px, 307px);

  .productImage {
    @include widthHeightSort(307px, 307px);
    position: relative;
    border-radius: 5px;
    background-color: gray;

    .cartImage {
      @include widthHeightSort(28px, 28px);
      position: absolute;
      right: 10px;
      bottom: 10px;
      border-radius: 50%;
      background-color: gray;
    }
  }

  .productName {
    font-size: 13px;
  }
  .productPrice {
    font-size: 13px;
    font-weight: bolder;
  }
}
