@mixin widthHeightSort($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexSort($direction, $justify, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
}
