@import '../../styles/variables';

.scrollBtn {
  position: fixed;
  z-index: 2;
  right: 50px;
  bottom: 50px;

  .btnIcon {
    border-radius: 50%;
    background-color: white;
    color: $color-main;
  }
}

.hidden {
  display: none;
}
