@import '../../../../../styles/variables';

.contentsCart {
  .title {
    padding-top: 20px;
    text-align: center;
  }

  .message {
    padding: 140px 0;
    background-color: white;
    color: #dddddd;
    text-align: center;
  }
}
