@import '../../styles/variables';

.signup {
  display: flex;
  justify-content: center;
  margin: 50px 0px 100px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;

    .title {
      width: 500px;
      border-bottom: 1px solid $color-main;

      .mainTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-main;
        font-size: 35px;
      }

      .subTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fontBold {
          color: $color-main;
          font-size: 22px;
          font-weight: 700;
        }

        .fontRight {
          display: inline;
          color: $color-main;

          .fontRed {
            color: rgb(153, 15, 15);
            font-weight: 700;
          }
        }
      }
    }

    .inputTable {
      width: 500px;
      margin-top: 20px;

      .inputAdd {
        margin-left: 150px;
        color: rgba(143, 116, 87, 0.663);
        font-size: 12px;
      }
    }

    .agreement {
      display: flex;
      justify-content: space-between;
      width: 500px;
      margin-top: 50px;
      padding-top: 30px;
      border-top: 1px solid $color-main;

      &Title {
        display: flex;
        color: $color-main;

        &Red {
          color: rgb(153, 15, 15);
        }
      }

      &List {
        display: flex;
        flex-direction: column;
        width: 350px;
        color: $color-main;

        &Info {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .inputButton {
      width: 180px;
      height: 40px;
      margin-top: 50px;
      border: 1px solid $color-main;
      border-radius: 5px;
      background-color: $color-main;
      color: white;
      font-size: 15px;
    }
  }
}

.agreementListInfoBox {
  display: flex;
  align-items: center;

  .checkButton {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: $color-main;
  }
  .disabled {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: rgba(143, 116, 87, 0.434);
  }

  .agreeList {
    font-size: 15px;
  }
}
.agreeDetail {
  color: rgba(143, 116, 87, 0.434);
  font-size: 13px;
}
.agreeDetails {
  color: rgb(153, 15, 15);
  font-size: 13px;
  font-weight: 700;
}
