@import '../../styles/variables';

.Signup {
  display: flex;
  justify-content: center;

  .container {
    width: 40vw;
  }

  .title {
    width: 100%;
    // height: 100px;
    border-bottom: 1px solid black;

    .mainTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
    }

    .subTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .fontBold {
        font-size: 22px;
        font-weight: 700;
      }
      .fontRight {
        display: inline;

        .fontRed {
        }
      }
    }
  }

  .inputTable {
    // display: flex;
    margin-top: 20px;
  }
}
