@import '../../styles/variables';

.category {
  @include widthHeightSort(270px, 240px);
  @include positionSort(null, null, null, 10%);
  @include flexSort(column, null, null);
  padding: 10px 15px;
  background-color: white;
  color: $color-main;
  font-size: 18px;

  .categoryList {
    @include flexSort(null, null, center);
    gap: 10px;
  }
}
