.nav {
  .logo {
    color: rgb(143, 116, 87);
    font-family: 'Courier new';
    font-size: 50px;
    font-weight: 700;
  }

  .divbox {
    height: 30px;
    border: 1px solid rgb(143, 116, 87);
    border-radius: 3px;
  }
}
